* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(250, 235, 215, 0.527);
    color: #333;
}

header {
    background-color: rgb(187, 176, 162)  ;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

.form-campo {
    margin-bottom: 20px;
}

.form-campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button {
    background-color: #ffa600;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s
}
.container button:hover{
    background-color: #754c00;
}

.error {
    color: red;
}
